<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/menu">Menu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/sign_out">Exit</a>
  </li>
</ul>
